@import 'src/styles/colors';

.dialectPill {
  background-color: var(--fna-colorBgElevated);
  color: var(--fna-colorText);
  border-radius: 16px;
  width: fit-content;
  padding: 0 12px;
  height: 32px;
  display: flex;
  align-items: center;
  vertical-align: middle;

  & > div:first-child {
    align-items: baseline;
    white-space: nowrap;
  }
}

.all {
  background-color: var(--fna-colorPrimary) !important;
  color: white;
}
