@import 'src/styles/colors';
@import 'src/styles/variables';

@import '@uppy/core/dist/style.css';
@import '@uppy/dashboard/dist/style.css';
@import '@uppy/drag-drop/dist/style.css';

$zoneHeight: 550px;

.dropZone {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  height: 100%;
  flex-flow: column;
}

.dropZoneOverlay::after {
  background: var(--fna-colorHighlight);
  border-radius: 5px;
  border: 5px dashed rgba($primary, .5);
  content: '';
  cursor: copy;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.dropZoneText {
  color: var(--fna-colorPrimary);
  font-size: 3rem;
  font-weight: 800;
  left: 0;
  margin: auto;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
}

.dropZoneCloseButton {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  z-index: 10000;
}

.dragDropLayout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: absolute;
  z-index: -1;
}

.uploadSummary {
  border-radius: var(--fna-radiusBase);
  border: 1px solid var(--fna-colorBorder);
  bottom: 0;
  height: $zoneHeight;
  margin-bottom: -$zoneHeight - 2px;
  position: fixed;
  right: 2.563rem;
  transition: 0.5s;
  width: 25rem;

  :global {
    .uppy-Dashboard-note {
      white-space: pre-wrap;
    }
    .uppy-StatusBar-actionBtn--upload {
      background-color: var(--fna-colorPrimary) !important;
      font-weight: 900;
    }
    .uppy-Root {
      font-family: var(--fna-fontFamily);
      color: var(--fna-colorText)
    }
    .uppy-Dashboard-inner {
      border: 1px solid var(--fna-colorBorder);
    }
    .uppy-StatusBar {
      border-top: 1px solid var(--fna-colorBorder) !important;
    }
    .uppy-Dashboard-innerWrap, .uppy-StatusBar-actions {
      background-color: var(--fna-colorBgElevated) !important;
    }
  }
}

.show {
  margin-bottom: 2px;
  z-index: 1;
}

.childrenWrapper {
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.childSpacing {
  padding: 1rem 2.563rem;
}

.hideWrapper {
  display: none;
}
