.nonRoutableMessage {
  background-color: var(--fna-colorBgLayout);
  border-radius: var(--fna-radiusBase);
  color: var(--fna-colorTextTertiary);
  margin-bottom: 1rem;
  padding: 1rem;

  a {
    text-decoration: underline;
  }
}