.mutationProgress {
  position: absolute;
  z-index: 1;
  top: -14px;
  display: none;

  transition: 0.2s;

  :global {
    .ant-progress-text {
      display: none;
    }
    .ant-progress-outer {
      margin: 0;
      padding: 0;
    }
  }
}

.visible {
  display: block;
}
