$contentGap: 16px;
$listPaneWidth: 300px;
$contentPaneMinWidth: $listPaneWidth + $contentGap;

.dndZone {
  gap: 1rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
  .dndZone {
    overflow-x: auto;
  }
}
.contentPane {
  display: flex;
  min-width: 0;
}

@media (max-width: 600px) {
  .contentPane {
    display: flex;
    width: 100%;
  }
}
