@import 'src/styles/variables';

.replacementModal {
  :global {
    .ant-select-selection-item {
      border-radius: 16px;
      padding: 0 12px;
      height: 32px;
      align-items: center;
      vertical-align: middle;
    }
  }
}
