.inlineForm {
  width: 100%;

  :global {
    .ant-form-item {
      margin: 0;
    }
  }

  .layout {
    display: flex;
    margin: 0.5rem;
    align-items: baseline;
    gap: 0.5rem;

    .actions {
      display: flex;
      gap: 0.5rem;
    }
  }

  .formItem {
    flex-grow: 1;

    input[type='text'] {
      border-bottom: 1px solid #d9d9d9;
    }

    div[role='alert'] {
      margin-left: 10px;
    }
  }
}
