$primary: #144C87;
$secondary: #79C0B8;
$warning: #faad14;
$success: #52c41a;
$info: #759ECA;
$error: #ff4d4f;

$black: #000;
$lightGray: #e4e4e4;
$gray: #6b7688;
$arrowGray: #dbdbdb;
$brown: #46364a;
$white: #ffffff;
$primaryLight: #cee3ac;
$primaryLightest: #fafff1cc;

$background: $white;
$fontColor: rgba(0, 0, 0, 0.88);
