@font-face {
  font-family: 'merge_proregular';
  src: url('/fonts/mergepro-webfont.woff2') format('woff2'),
       url('/fonts/mergepro-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
$font-base: 'merge_proregular', sans-serif;
$border-radius: 6px;
