@import 'normalize';
@import 'mixins';
@import 'colors';
@import 'variables';
@import 'margins';
@import 'typography';
@import 'layout';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--fna-colorBgBase);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
