@import 'src/styles/colors';

.codeEditor {
  border-radius: var(--fna-radiusBase);
  border: 1px solid var(--fna-colorBorder);

  .editorRunningLine {
    background-color: var(--fna-colorBorder) !important;
    text-align: center;
  }
  .editorRunningLine:before {
    content: '🔴';
  }

  .errorLineDecoration {
    background-color: var(--fna-colorError) !important;
  }
}
