@import 'src/styles/colors';
$border: 1px solid $primary;

.projects {
  & > div:nth-child(2) {
    display: grid;
    grid-gap: 1rem;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: auto;
  }

  .projectCard {
    width: 200px;
    border-radius: var(--fna-radiusBase);
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 13%);
    cursor: pointer;
    overflow: hidden;
    background: var(--fna-colorBgContainer);
    border: 1px solid var(--fna-colorBorder);

    &::before {
      content: '';
      width: 30px;
      height: 35px;
      border-bottom-right-radius: var(--fna-radiusBase);
      overflow: hidden;
      position: absolute;
      transform: translate(-2%, -11%);
      background-color: var(--fna-colorBgElevated);
      border: 1px solid var(--fna-colorBorder);
      z-index: 1;
    }

    .title {
      color: var(--fna-colorTextSecondary);
    }

    .projectImage {
      height: 150px;
      border: none;
      border-top-left-radius: var(--fna-radiusBase);
      border-top-right-radius: var(--fna-radiusBase);
      margin: auto;
    }

    :global {
      .ant-card-meta {
        padding: 1rem;
      }
      .ant-image {
        width: inherit;
      }
      .ant-card-meta-description {
        color: var(--fna-colorText);
      }
    }
  }

  .wrapper {
    margin: 6px;
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius: var(--fna-radiusBase);
    transition: filter 0.3s, border-color 0.3s;

    &:hover {
      filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    }
  }

  .selected::before {
    background-color: #cee3ac;
    border: $border;
  }

  .projectCard:hover,
  .selected {
    border: $border;
  }

  .projectCard:hover {
    &::before {
      background-color: #cee3ac;
      border: $border;
    }
  }
}
