.environmentTabs {
  :global {
    .ant-tabs-nav {
      background-color: var(--fna-colorBgBase);
      padding: 0 1rem;
      border-top-left-radius: var(--fna-radiusBase);
      border-top-right-radius: var(--fna-radiusBase);
      margin: 0;
      border-top: 1px solid var(--fna-colorBorder);
      border-left: 1px solid var(--fna-colorBorder);
      border-right: 1px solid var(--fna-colorBorder);
    }

    .ant-table-header {
      background-color: var(--fna-colorBgBase);
    }
  }
}