 @keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 128, 128);
  }
}

.isotipo-1 {
  animation: animate-svg-fill-1 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s both;
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(117, 158, 202);
  }
}

.isotipo-2 {
  animation: animate-svg-fill-2 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0.9s both;
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(121, 192, 184);
  }
}

.isotipo-3 {
  animation: animate-svg-fill-3 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 1s both;
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(20, 76, 135);
  }
}

.isotipo-4 {
  animation: animate-svg-fill-4 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s both;
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(20, 76, 135);
  }
}

.isotipo-5 {
  animation: animate-svg-fill-5 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 1.2000000000000002s both;
}
