@import 'src/styles/colors';

.instance {
  display: flex;
  flex-direction: column;
  cursor: default;

  & > div:first-child {
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
  }

  .layout {
    gap: 0 !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;

    & > div {
      height: 2rem;
      width: 100%;
      justify-content: space-between;
      gap: 0.5rem;
      display: flex;
      align-items: baseline;
    }

    & > div:nth-child(2) {
      padding-right: 1rem;
    }

    .name {
      font-size: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 500;
    }
  }

  .status {
    color: #9d9d9d;
  }
}
