.contentPane {
  border-radius: 12px;
  border: 1px solid var(--fna-colorBorder);
  background-color: var(--fna-colorBgElevated);

  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .header {
    align-items: center;
    display: flex;
    gap: 0.5rem;

    .headerText {
      flex-grow: 1;
      min-width: 0;

      .title {
        font-size: 1rem;
        color: var(--fna-colorTextHeading);
        font-weight: 800;
      }

      .subtitle {
        font-size: 14px;
        color: var(--fna-colorTextSecondary);
      }
    }
  }

  .body {
    flex-grow: 1;
  }
}
