@import 'src/styles/colors';
@import 'src/styles/variables';

.dropListColumn {
  border-radius: 12px;
  display: flex;
  height: 100%;
  flex-flow: column;
  flex-grow: 1;
  background-color: var(--fna-colorBgContainer);

  :global {
    .ant-list-header {
      font-size: 16px;
      font-weight: 900;
      white-space: nowrap;
      border-bottom: 1px solid var(--fna-colorBorder);
    }
    .ant-list-item {
      padding: 12px 24px;
      font-weight: 500;
      color: var(--fna-colorText);
      border-radius: var(--fna-radiusBase);
      border-bottom: 1px solid var(--fna-colorBorder);
    }

    .ant-list-bordered,
    .ant-spin-container {
      border-radius: 12px;
    }
    .ant-spin-container {
      overflow-y: auto;
      height: calc(100vh - 373px);
      border-radius: 12px;
    }
  }
}
