@import 'src/styles/variables';
@import 'src/styles/colors';

$width: 100%;

.modal {
  :global {
    .ant-modal-body {
      max-width: 600px;
      overflow-y: auto;
    }
    .ant-modal-header {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    .ant-modal-content {
      border-radius: $border-radius;
    }

    .ant-modal-footer {
      button {
        border-radius: $border-radius;
      }
    }
  }

  .searchInput {
    width: $width !important;
    border: 1px solid $arrowGray;
  }

  .list {
    margin-top: 0.5rem;
    width: $width !important;
    padding: 0.5rem;
    height: 300px;
    overflow-y: auto;

    .item {
      border-radius: $border-radius;
      padding-left: 1rem;
      padding-right: 1rem;
      transition: 0.2s;
      cursor: pointer;
    }
    .item:hover {
      background-color: $primaryLightest;
      color: $primary;
    }
    .selected {
      color: white;
      background-color: $primary;
      font-weight: bold;
    }
  }
}
