@import 'src/styles/colors';

.configItem {
  padding: 1.5rem 0;
  width: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .titles {
      display: flex;
      flex-direction: column;

      .subTitle {
        color: #7e7e7e;
      }
    }
  }

  & + & {
    border-top: 1px solid var(--fna-colorBorder);
  }
}
