@import 'src/styles/colors';

.appHeader {
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 1rem;

  .toggleDrawer {
    display: none;
  }
  @media (max-width: 600px) {
    .toggleDrawer {
      display: flex;
      margin: auto 0;
      font-size: medium;
      background-color: var(--fna-colorBgContainer);
      border-radius: 50%;
      padding: 1rem;
    }
  }

  .switchToClassic {
    margin: auto;
    color: gray;
    border-radius: 30px;

    .backIcon{
      transform: rotate(180deg);
    }
  }

  .optionsLayout {
    display: flex;
    gap: 1rem;

    .profileOptions {
      border-radius: 120px;
      display: flex;
      padding: 0 1rem;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      background-color: var(--fna-colorBgContainer);

      :global {
        .ant-avatar {
          width: 28px;
          height: 100%;
        }

        .anticon {
          font-size: 20px;
          color: #ababab;
          margin: 0 !important;
          height: 100%;
        }
      }
    }
  }

  .userMenuBtn {
    padding: 0;
    padding-right: 1rem;
    position: relative;

    .moreIcon {
      position: absolute;
      top: 6px;
    }
  }
}
