.table {
  display: flex;
  flex-flow: column;
  height: 100%;
  transition: 0.5s;

  :global {
    .ant-table-thead > tr > th {
      background: unset;
      overflow: hidden;
    }

    .ant-table-title {
      border-top-left-radius: var(--fna-radiusBase);
      border-top-right-radius: var(--fna-radiusBase);
      border: 1px solid var(--fna-colorBorder);
      border-bottom: 0;

      .space-between {
        flex-wrap: wrap;
      }
    }
    .ant-table-header,
    .ant-table-body {
      border-left: 1px solid var(--fna-colorBorder);
      border-right: 1px solid var(--fna-colorBorder);
    }
    .ant-table-body {
      border-bottom: 1px solid var(--fna-colorBorder);
      border-bottom-left-radius: var(--fna-radiusBase);
      border-bottom-right-radius: var(--fna-radiusBase);
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.06);
    }
    th.ant-table-column-sort {
      background: var(--fna-colorBgElevated) !important;
    }
    td.ant-table-column-sort {
      background: inherit !important;
    }
    td.ant-table-cell-row-hover {
      background: var(--fna-colorBgElevated) !important;
    }
    .ant-table-cell::before {
      display: none;
    }
    .ant-table-column-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
