@import 'src/styles/colors';

$padding: 12px;

.menuOptions {
  padding: 0.5rem $padding;
  :global {
    .ant-menu {
      border-inline-end: 0 !important;
    }
    .ant-menu-item {
      border-radius: 6px;
      text-transform: capitalize;
    }

    .ant-menu-submenu-title {
      color: #9d9d9d;
      font-weight: 700;
    }

    .ant-menu-item-selected a,
    .ant-menu-item-selected a:hover {
      color: white !important;
    }

    .ant-menu-item-selected,
    .ant-menu-item-selected:hover {
      background-color: $primary !important;
      color: $white;
      text-transform: capitalize;
    }

    .ant-menu-inline {
      background-color: unset !important;
      border-inline-end: unset !important;
    }

    .ant-menu-item-divider {
      margin: 1px -12px;
      border-bottom: 1px solid var(--fna-colorBorder);
      border-bottom-width: 1px;
      border-top-width: 0;
    }
  }

  ul {
    border-right: none;
  }
}

.normalized {
  :global {
    .ant-menu-item {
      padding-left: 0.5rem !important;
    }

    .ant-menu-submenu-title {
      padding-left: 0.5rem !important;
    }
  }
}
