.assets {
  .tabs {
    height: 100%;
  }
  :global {
    .ant-tabs-content-holder {
      display: flex;
      position: relative;
      flex: none;
      flex-grow: 1;
    }
    .ant-tabs-content {
      display: flex;
    }
    .ant-tabs-tabpane-active {
      display: flex;
      flex-grow: 1;
    }
  }
}
